html {
    background-color: #EFE1B5;
    overflow-x: hidden;
}
body {
    margin: 0;
    padding-top: 90px
}

.site_header {
    background-color: #6E5034;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 12%
}
.site_footer {
    background-color: #6E5034;
    padding: 50px
}

.big_text {
    font: 60px 'Oranienbaum', sans-serif;
    color: rgb(0, 0, 0)
}
.middle_text {
    font: 50px 'Oranienbaum', sans-serif;
    color: rgb(0, 0, 0)
}
.small_text {
    font: 35px 'Oranienbaum', sans-serif;
    color: rgb(0, 0, 0)
}

.footer_text {
    font: 20px 'Oranienbaum', sans-serif;
    color: rgb(255, 255, 255)
}

.footer_button {
    font: 30px 'Oranienbaum', sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255, 0);
    border: 0;
}

.text_background {
    background-color: rgb(255, 255, 255, 0.4)
}

.button {
    font: 40px 'Oranienbaum', sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(205, 184, 133);
    border-radius: 40px;
    padding: 5px 70px 5px 70px;
    border: 0;
    transition: all 0.3s ease
}
.button:hover {
    background-color: rgb(227, 204, 148)
}
.button:active {
    background-color: rgb(245, 219, 157)
}

.footer_icon {
    height: 40px;
    aspect-ratio: 1/1;
    margin: 0 1% 0 1%;
    transition: all 0.3s ease
}
.footer_icon:hover {
    aspect-ratio: 2/1;
}

.menu {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%
}

.header_transition_button {
    position: relative;
    background: linear-gradient(to right, rgb(205, 184, 133, 0), rgb(205, 184, 133), rgb(205, 184, 133), rgb(205, 184, 133), rgb(205, 184, 133));
    border: 0;
    height: 90%;
    aspect-ratio: 2/1;
    margin: 0 1px 0 20px;
    border-radius: 0 20px 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}
.header_transition_button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(227, 204, 148, 0), rgb(227, 204, 148), rgb(227, 204, 148), rgb(227, 204, 148), rgb(227, 204, 148));
    border-radius: 0 20px 20px 0;
    opacity: 0;
    transition: opacity 0.3s;
}
.header_transition_button:hover::before {
    opacity: 1
}
.header_transition_button:active::before {
    background: linear-gradient(to right, rgb(245, 219, 157, 0), rgb(245, 219, 157), rgb(245, 219, 157), rgb(245, 219, 157), rgb(245, 219, 157));
}

.header_button {
    position: relative;
    background: linear-gradient(to left, rgb(205, 184, 133, 0), rgb(205, 184, 133), rgb(205, 184, 133), rgb(205, 184, 133), rgb(205, 184, 133));
    border: 0;
    height: 60%;
    aspect-ratio: 3.6/1;
    margin: 0 10px 0 10px;
    border-radius: 30px 0 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}
.header_button.chosen {
    background: linear-gradient(to left, rgb(93, 211, 182, 0), rgb(93, 211, 182), rgb(93, 211, 182), rgb(93, 211, 182), rgb(93, 211, 182));
}
.header_button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgb(227, 204, 148, 0), rgb(227, 204, 148), rgb(227, 204, 148), rgb(227, 204, 148), rgb(227, 204, 148));
    border-radius: 30px 0 0 30px;
    opacity: 0;
    transition: opacity 0.3s;
}
.header_button.chosen::before {
    background: linear-gradient(to left, rgb(103, 235, 202, 0), rgb(103, 235, 202), rgb(103, 235, 202), rgb(103, 235, 202), rgb(103, 235, 202));
}
.header_button.chosen:active::before {
    background: linear-gradient(to left, rgb(110, 250, 215, 0), rgb(110, 250, 215), rgb(110, 250, 215), rgb(110, 250, 215), rgb(110, 250, 215));
}
.header_button:hover::before {
    opacity: 1;
}
.header_button:active::before {
    background: linear-gradient(to right, rgb(245, 219, 157, 0), rgb(245, 219, 157), rgb(245, 219, 157), rgb(245, 219, 157), rgb(245, 219, 157));
}

.header_button_text {
    position: absolute;
    font: 40px 'Oranienbaum', sans-serif;
    color: rgb(255, 255, 255);
    user-select: none
}

.header_round_button {
    background-color: rgb(205, 184, 133);
    border: 0;
    height: 65%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease
}
.header_round_button:hover {
    background-color: rgb(227, 204, 148);
}
